.amal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  color: #fff;
  width: 154px;
  height: 40px;
  background: #722ed1;
  border-radius: 4px;
  border-color: inherit;
  flex: none;
  order: 0;
  flex-grow: 0;
}
