@import "projects/amal-labs/src/styles.scss";
// @import "shared-globals/styles/partials/theme";

.header {
  position: absolute;
  width: 100vw;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 0.5px solid rgba(201, 204, 207, 0.5);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary-color;
  width: 60px;
  height: 70px;
  background: $primary-color;
  cursor: pointer;
}

.markCompleteBtn {
  position: absolute;
  top: 12px;
  right: 4%;
}

.stagesContainer {
  position: absolute;
  top: 14px;
  right: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  height: 32px;
  width: 400px;
}

.stage {
  position: relative;
  left: 0;
  top: 0;
  margin-right: 2px;
}

.oval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  background: #6D7175;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  // border: 1px solid blue;
  border-radius: 50%;
}
.stage.enabledColor .oval, .stage.enabledColor .line {
  background-color: #5570f1 !important;
}
.stage.greenColored .oval, .stage.greenColored .line {
  background-color: #008060 !important;
}
.oval img {
  position: relative;
  top: 5px;
  width: 28px;
  height: 28px;
}

.line {
  background: #6D7175;
  position: absolute;
  top: 13px;
  left: 27px;
  width: 106px;
  height: 4px;
}

// =================================================================
// =================================================================
// ==================== CLASS SELECT DROPDOWN

#ng-multiselect {
  display: inline-block;
}

.classSelect:active,
.classSelect:focus-within {
  background: rgba(110, 109, 117, 0.16);
  border: none !important;
}

:host ::ng-deep span.dropdown-btn span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  color: #202223;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline-block;
  position: relative;
  top: 6px !important;
  width: 0;
  height: 0;
  border-top: 10px solid #adadad !important;
  border-left: none !important;
  border-right: 23px solid #adadad !important;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-up {
  display: inline-block;
  position: relative;
  top: 6px !important;
  width: 0;
  height: 0;
  border-top: none !important;
  border-right: none !important;
  border-left: 23px solid #adadad !important;
}

:host ::ng-deep span.dropdown-up {
  border-image-source: url("./../../../assets/images/chevron-up.svg") !important;
  border-image-repeat: none !important;
}

:host ::ng-deep .dropdown-list .filter-textbox input {
  background-image: url("./../../../assets/images/search-dropdown.svg") !important;
  background-repeat: no-repeat !important;
}
:host ::ng-deep span.selected-item::before {
  // after selecting a class, the class is not persisting in the dom.
  display: inline-block;
  width: 17px !important;
  position: absolute;
  content: "";
  left: 16px;
  height: 17px !important;
  background-color: grey !important;
  opacity: 0.2;
  border-radius: 3px;
  margin-right: 37px !important;
  top: 10px;
}
// :host ::ng-deep .selectedColor {
//   display: inline-block;
//   width: 17px !important;
//   position: absolute;
//   content: "";
//   left: 16px;
//   height: 17px !important;
//   background-color: yellow !important;
//   opacity: 0.2;
//   border-radius: 3px;
//   margin-right: 37px !important;
//   top: 10px;
// }
:host ::ng-deep span.selected-item.salmon::before {
  display: inline-block;
  width: 17px !important;
  position: absolute;
  content: "";
  left: 16px;
  height: 17px !important;
  background-color: $salmon;
  border-radius: 3px;
  margin-right: 37px !important;
  top: 10px;
}
:host ::ng-deep span.selected-item.purple::before {
  display: inline-block;
  width: 17px !important;
  position: absolute;
  content: "";
  left: 16px;
  height: 17px !important;
  background-color: $primary-purple;
  border-radius: 3px;
  margin-right: 37px !important;
  top: 10px;
}
:host ::ng-deep span.selected-item.pink::before {
  display: inline-block;
  width: 17px !important;
  position: absolute;
  content: "";
  left: 16px;
  height: 17px !important;
  background-color: $pink;
  border-radius: 3px;
  margin-right: 37px !important;
  top: 10px;
}
:host ::ng-deep span.selected-item.skyBlue::before {
  display: inline-block;
  width: 17px !important;
  position: absolute;
  content: "";
  left: 16px;
  height: 17px !important;
  background-color: $skyBlue;
  border-radius: 3px;
  margin-right: 37px !important;
  top: 10px;
}
:host ::ng-deep .dropdown-btn .selected-item a {
  display: none !important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item,
.multiselect-dropdown .dropdown-btn .selected-item:hover {
  padding: 3px !important;
  box-shadow: none !important;
  background: transparent !important;
  border: 1px solid transparent !important;
  margin: 2px 0px 0px 10px !important;
  color: black !important;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #337ab7;
  background: #337ab7;
  padding: 0 5px;
  color: #fff;
  margin-left: 25px !important;
  border-radius: 2px;
}
:host ::ng-deep .dropdown-list .filter-textbox {
  border-bottom: none !important;
  padding: 14px 10px !important;
}
:host ::ng-deep span.dropdown-down {
  border-image-source: url("./../../../assets/images/chevron-down.svg") !important;
  border-image-repeat: none !important;
}
:host ::ng-deep li.filter-textbox input {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 6px 14px !important;
}

//by default salmon color will be assigned if no color is defined in CSS for a
:host ::ng-deep li.multiselect-item-checkbox div::before,
li.multiselect-item-checkbox:focus-within div::before,
li.multiselect-item-checkbox div.salmon::before,
li.multiselect-item-checkbox:focus-within div.salmon::before {
  background-color: $salmon !important;
  border-color: transparent !important;
  border-radius: 4px;
  z-index: 200;
}
:host ::ng-deep li.multiselect-item-checkbox div.purple::before,
li.multiselect-item-checkbox:focus-within div.purple::before {
  background-color: $primary-purple !important;
  border-color: transparent !important;
  color: transparent !important;
  border-radius: 4px;
  z-index: 200;
}
:host ::ng-deep li.multiselect-item-checkbox div.skyBlue::before,
li.multiselect-item-checkbox:focus-within div.skyBlue::before {
  background-color: $skyBlue !important;
  border-color: transparent !important;
  color: transparent !important;
  z-index: 200;
  border-radius: 4px;
}
:host ::ng-deep li.multiselect-item-checkbox div.pink::before,
li.multiselect-item-checkbox:focus-within div.pink::before {
  background-color: $pink !important;
  border-color: transparent !important;
  color: transparent !important;
  z-index: 200;
  border-radius: 4px;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: none !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.classSelect {
  box-sizing: border-box;
  position: absolute;
  width: 284px;
  height: 40px;
  left: 92px;
  top: 15px;

  /* Stroke */
  border: 0.5px solid #c9cccf;
  border-radius: 8px;
}
// ==================== CLASS SELECT DROPDOWN
// =================================================================
// =================================================================

.leftIconsBar {
  position: absolute;
  width: 60px;
  height: calc(100vh - 70px);
  left: 0;
  top: 70px;
  box-shadow: 2px 4px 30px rgb(202 202 202 / 25%);
  // background: #fff;
  // background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvasContent {
  position: absolute;
  // width: 60px;
  z-index: 200;
  width: calc(100vw - 60px);
  height: calc(100vh - 70px);
  left: 60px;
  top: 70px;
  box-shadow: 2px 4px 30px rgb(202 202 202 / 25%);
  background:  rgba(90, 129, 93, 0.095);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon:not(.sepratorIcon):hover {
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 9px;
}
.icon:not(.sepratorIcon):active {
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.7);
  border-radius: 9px;
}
button {
  background-color: inherit;
}

.icon {
  margin-top: 11px;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .sepratorIcon:active {
//   background-color: transparent !important;
// }
// .sepratorIcon:hover {
//   background-color: transparent !important;
// }
